.vs/
packages/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.pdb
*.dbmdl
*.bak
*.cache
*.nupkg
*.snupkg
*.publish.xml
*.PublishProfiles/
*.deps.json
*.runtimeconfig.json
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/
App_Data/
App_Start/
*.sqlite
*.mdf
*.ldf
_ReSharper*/
.idea/
*.sdf
*.db
*.opendb
*.vscode/
.vscode/
wwwroot/lib/
node_modules/
bower_components/
.env
